body {
    background-color: #0f172a;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.temp { font-size: 5rem; font-weight: bold; }
h1 { font-size: 2rem; }
/* هذا السطر يخلي كل شي يترتب بالموبايل */
div, section, aside { width: 100%; max-width: 400px; margin: auto; }
